.header {
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    * {
        padding: 0 20px;
    }
}

.header a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 15%;
}

.header .logoComponent {
    display: flex;
    align-items: center;
    justify-content: center;
}