.presentationCard {
    display: flex;
    width: calc(100% - 80px);
    overflow: hidden;

    * {
        margin: 10px;
    }

    .contain1 {
        width: 50%;
        margin: 0 30% 0 0;
        height: 100%;
        overflow: hidden;
    }

    img {
        border-radius: 16px;
        padding: 10px;
        background: #2d2d2d;
        box-shadow: 20px 20px 30px #1d1d1d;
        transform: scale(1.5) translate(-160px, 120px) rotate(30deg);
    }
}

.presentationCard .play-store {
    margin: 40px 0;
    p {
        margin: 0 20px;
        display: flex;
        align-items: center;
        height: 100%;
    }
}